h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.row {
  margin: 0;
}

.myclass a {
  color: purple !important;
  background-color: mediumseagreen !important;
  float: right;
}
.row.a {
  padding: 1% 1% 0 1%;
}

.col-md.col-a {
  padding: 0;
}

.table {
  height: 100%;
  padding: 0 1% 0 1%;
}

ul {
  display: inline-flex;
  overflow-x: auto;
  margin: 2px;
  padding: 1em;
  list-style-type: none;
}

li > div {
  text-align: center;
}
