h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.row {
  margin: 0;
}

.myclass a {
  color: purple !important;
  background-color: mediumseagreen !important;
  float: right;
}
.row.a {
  height: 100%;
  padding: 1% 1% 0 1%;
  overflow: scroll;
}

.col-md.col-a {
  padding: 0;
}
