<div class="container-fluid" >

  <div class="row" style="height: 120px">
    <div class="col-md-9 " style="background-color: #6d7fcc">

      <div class="row" style="height: 25%">
      <div class="col-md-12 rowh">This is the first box</div>
      </div>

      <div class="row" style="height: 25%">
        <div class="col-md-12 rowh">This is the second box</div>
      </div>

      <div class="row" style="height: 25%">
        <div class="col-md-12 rowh">This is the third row</div>
      </div>

      <div class="row" style="height: 25%">
        <div class="col-md-12 rowh">This is the third row</div>
      </div>

    </div>

    <div class="col-md-3 " style="top: 32px; padding: 6px; text-align: center; font-size: 24px; height: 88px"> AKUT </div>

  </div>

</div>

