<!--<div *ngSwitchCase="'day'">{{ viewDate | calendarDate:(view + 'ViewTitle'):'sv' }}</div>-->
<div class="track-day" *ngFor="let resource of resourceSchedules | keys">
  <h1>{{resource.key}}</h1>
  <mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="resource.value.events"
    [refresh]="refresh"
    [locale]="locale"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (beforeViewRender)="beforeDayViewRender($event, resource.value.roomId)"
    class="day-view-track">
  </mwl-calendar-day-view>
</div>

