<div class="container-fluid a" (click)="setPatient(patient); setPanel('planning')" style="padding: 2% 5% 2% 5%" >
  <div class="row row-s">
    <div class="col-md blue-bg col-l9" style="padding: 2% 0 0 2%">


      <div class="row">
        <div class="col-md">Namn: {{patient.Namn}}</div>
        <div class="col-md-2" *ngIf="patient.Bokad"><span class="glyphicon glyphicon-ok text-right" style="color: limegreen; float: right; padding-right: 5px"></span> </div>
        <div class="col-md-2" *ngIf="!patient.Bokad"><span class="glyphicon glyphicon-warning-sign text-right" style="color: orange; float: right; padding-right: 5px"></span> </div>


      </div>


      <div class="row">
        <div class="col-md">Personnummer: {{patient.Personnummer}}</div>
      </div>


      <div class="row">
        <div class="col-md">Huvudåtgärd: {{patient.procedures[0].description}} </div>
      </div>


      <div class="row">
        <div class="col-md">ICD10: {{patient.ICD10}}</div>
      </div>

    </div>

    <div class="col-md-3" [ngClass]="urgency == 'AKUT' ? 'red-bg' : 'blue-bg'" style="padding: 4% 2% 2% 2%; min-width: 80px; min-height: 100px; text-align: center; font-size: x-large; height: auto"> {{urgency}}
      <div class="row-md" style="font-size: medium"> Tid Kvar: <br> {{time}}</div>
    </div>


  </div>

</div>


