.row-s {
  height: auto;
  margin: 0;
}
.rowp {
  padding: 4px;
}


.blue-bg:hover {
  background-color: #177288;
  color: whitesmoke;

}

 .row-s:hover{
  cursor: pointer;
   background-color: blue;
 }

.col-md {
  font-size: medium;
}


.col-l9 {
  border: 5px #0d2b37;
  border-right-style: solid;
}

.glyphicon{
  font-size: 100%;
  text-align: right;
}
