.row-s {
  height: auto;
}
.rowp {
  padding: 4px;
}

.rowh {
  height: 25%
}

.red-bg {
  background-color: red;
}

.blue-bg {
  background-color: #1e7faa;
  color: whitesmoke;

}

.col-md-12 {
  font-size: medium;
}

.col-l9 {
  border-right-style: solid;
  border-color: #0d2b37;
  border-width: 5px;
}
