.row-s {
  height: auto;
}
.rowp {
  padding: 4px;
}

.rowh {
  height: 25%
}

.red-bg {
  background-color: #dd0000;
}

.blue-bg {
  background-color: #1e7faa;
  color: whitesmoke;

}


 .blue-bg:hover {
  background-color: #177288;
  color: whitesmoke;

}

 .row-s:hover{
  cursor: pointer;
   background-color: blue;
 }

.col-md-12 {
  font-size: medium;
}

.col-l9 {
  border-right-style: solid;
  border-color: #0d2b37;
  border-width: 5px;
}
