#menubar {
  position: absolute;
  top: 0;
  height: 30px;
  left: 25%;
  right: 0;

  background-color: red;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;

  background-color: green;
}

#content {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 25%;
  right: 0;

  background-color: white;
}
