
/*Titelbar*/
#titlebar{
  position: absolute;
  height: 4%;
  width: 100%;
  font-size: x-large;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  padding: 1% 2% 2% 2%;
}

/*Buttons for decisions panel*/
#buttonpanel{
  top: 4%;
  position: absolute;
  height: 5%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#infoheader {
  top: 9%;
  position: absolute;
  height: 15%;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.sidenav {
  top: 24%;
  height: 76%;
}
