
/*Titelbar*/
#titlebar{
  position: absolute;
  height: 3%;
  width: 100%;
  font-size: x-large;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
}

/*Buttons for decisions panel*/
#buttonpanel{
  top: 3%;
  position: absolute;
  height: 5%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#infoheader {
  top: 8%;
  position: absolute;
  height: 15%;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.sidenav {
  top: 23%;
  height: 77%;
}
