<!-- Titlebar -->
<div id = titlebar class="container dark-c"><app-titlebar></app-titlebar></div>

<!-- Titlebar -->
<div id="buttonpanel" class="container-fluid dark-c"><app-buttonpanel></app-buttonpanel></div>

<!-- Infoheader -->
<div id="infoheader" class="container-fluid" style="padding-top: 3%"><app-infoheader></app-infoheader></div>


<!-- Side navigation -->
<div class="sidenav dark-c">

  <div class="container" style="width: 100%">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#decision_info" style="width: 100%">Beslutsinformation</button>
    <div id="decision_info" class="collapse" style="color: whitesmoke;">

      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    </div>
  </div>

  <br>

  <div class="container" style="width: 100%">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#materiel_list" style="width: 100%">Materiellista</button>
    <div id="materiel_list" class="collapse" style="color: whitesmoke;">

      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    </div>
  </div>

  <br>

  <div class="container" style="width: 100%">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search_parameters" style="width: 100%">Sökparametrar</button>
    <div id="search_parameters" class="collapse" style="color: whitesmoke;">

      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


      <br>
      <br>

      <div class="container" style="width: 100%">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search-param" style="width: 100%">Lägg till sökparameter</button>
        <div id="search-param" class="collapse" style="color: whitesmoke;">

          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        </div>
      </div>

    </div>
  </div>


</div>



