<div class="container-fluid bordercomponent">

  <h2 id="logincaption" class="text-center">Inlogging</h2>

  <div class="form-group">
    <input #username type="text" class="form-control" placeholder="Användarnamn">
  </div>

  <div class="form-group">
    <input #password type="password" class="form-control" placeholder="Lösenord">
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="login(username.value, password.value)">Logga in</button>
  </div>

  <div class="form-group">
    <div id="errormessage" *ngIf="loginService.previousError != ''">Felaktigt användarnamn eller lösenord</div>
  </div>
</div>
