.card {
  background-color: whitesmoke;
  min-width: 300px;
}

.card > .card-footer {
  background-color: whitesmoke;
}

.card > .list-group{
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.red-primary {
  background-color: #ae0000;
  color: whitesmoke;
}

.red-secondary {
  background-color: whitesmoke;
}
