  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">

        <div class="d-flex flex-column">

          <div class="card-deck">

            <div class="card mb-3" >
              <div class="card-body">
                <h5 class="card-title">Patient Information</h5>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item"> Namn: {{patient.Namn}} </li>
                <li class="list-group-item"> Personnummer: {{patient.Personnummer}} </li>
                <li class="list-group-item"> ICD10: {{patient.ICD10}} </li>
                <li class="list-group-item"> KVÅ: {{patient.KVA}} </li>
              </ul>
            </div>


            <div class="card mb-3" >
              <div class="card-body">
                <h5 class="card-title">Operation</h5>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">Operationstyp: {{patient.Operationstyp}}</li>
                <li class="list-group-item">Förberedelsetid: {{patient.Forberedelsetid}}</li>
                <li class="list-group-item">Avvecklingstid: {{patient.Avvecklingstid}}</li>
              </ul>

              <div class="card-footer  text-center">
                <button type="button" class="btn btn-primary" (click)="materialList = !materialList">Materiellista</button>
              </div>

            </div>

            <div class="card mb-3" [ngClass]="urgency == 'AKUT' ? 'red-primary' : ''">
              <div class="card-body">
                <h5 class="card-title" style="font-size: large; font-weight: bold;">Hejsan {{urgency}}</h5>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item" [ngClass]="urgency == 'AKUT' ? 'red-secondary' : ''">Tid: {{patient.Tid}}</li>
                <li class="list-group-item" [ngClass]="urgency == 'AKUT' ? 'red-secondary' : ''">Brådskandegrad: {{urgency}}</li>
                <li class="list-group-item" [ngClass]="urgency == 'AKUT' ? 'red-secondary' : ''">Operationstid: {{patient.Operationtid}}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex flex-row">
        <div class="d-flex flex column">
          <div class="container-fluid"[hidden]="materialList">

            <h2>Matrial</h2>
            <table class="table" style = "table-layout: fixed">
              <thead class = "thead-dark">
              <tr>
                <th>Namn</th>
                <th>Typ</th>
                <th>Kvant</th>
                <th>Steril.tid</th>
              </tr>
              </thead>
              <tbody *ngFor="let materiel of this.material">
              <tr class="table-primary" [ngClass]="materiel.Material_type.name == 'Container' ? 'table-warning' : materiel.Material_type.name == 'Extrainstrument' ? 'table-dark' : ''">
                <td>{{materiel.name}}</td>
                <td>{{materiel.Material_type.name}}</td>
                <td>{{materiel.quantity}}</td>
                <td>{{materiel.sterilizing_time}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column" style="width: 40%; min-width: 400px">
      <h5>This is for spår</h5>
    </div>
  </div>

  <div class="d-flex">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title" style="font-size: large; font-weight: bold;">SoonToBeTheMighty------>BokingsRutan</h5>
        <button class="btn btn-primary"> Add new</button>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Titel: </li>
        <li class="list-group-item">Start: </li>
        <li class="list-group-item">Slut:  </li>
        <li class="list-group-item">Ta bort bokning:  </li>
      </ul>
      <div class="card-footer">
        <button class="btn btn-primary">Boka</button>
      </div>
    </div>

  </div>
