
/*Titelbar*/
#titlebar-overview{
  position: absolute;
  height: 4%;
  width: 100%;
  font-size: x-large;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  padding: 1% 2% 2% 2%;
}

/*Buttons for decisions panel*/
#buttonpanel-overview{
  top: 4%;
  position: absolute;
  height: 15%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.sidenav {
  top: 19%;
  height: 81%;
}
