.sidenav{
  top: 120px;
  height: 91%;
}

/*Titelbar*/
#titlebar-overview{
  position: absolute;
  top: 0;
  height: 30px;
  width: 100%;
  font-size: 16px;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
}

/*Buttons for decisions panel*/
#buttonpanel-overview{
  position: absolute;
  top: 30px;
  height: 90px;
  width: 100%;
}
