
/*Titelbar*/
#titlebar-overview{
  position: absolute;
  height: 4%;
  width: 100%;
  font-size: x-large;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  padding: 1% 2% 2% 2%;
  min-height: 40px;
}

/*Buttons for decisions panel*/
#buttonpanel-overview{
  top: 5%;
  position: absolute;
  height: 17%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 100px;
}

.sidenav {
  top: 22%;
  height: 78%;
  min-height: 300px;
}
