<div class="container-fluid" style="height: 100%">
  <div class="row">
    <div class="col-md-12" style="padding: 2% 5% 2% 5%">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="txtSearch" [(ngModel)]="searchTxt"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" (click)="search()" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5" style="padding: 2% 5% 2% 5%">
      <div class="btn-group" style="width: 100%">

        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%">
          Sortera
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" (click)="sort('time')">Tid kvar: kort->lång</a>
          <a class="dropdown-item" href="#" (click)="sort('timeR')">Tid kvar: lång->kort</a>
        </div>

      </div>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-md-5" style="padding: 2% 5% 2% 5%">
      <div class="btn-group pull-right" style="width: 100%">

        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%">
          Filtrera
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" ><input type="checkbox"/>&nbsp;Alla</a>
          <a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Akut</a>
          <a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Elektiv</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Separated link</a>
          <!--
          <a class="dropdown-item" href="#" ><input type="checkbox"/>&nbsp;Alla</a>
          <a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Another action</a>
          <a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><input type="checkbox"/>&nbsp;Separated link</a>
          -->
        </div>

      </div>
    </div>
  </div>
</div>
